<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @numbergroup.name %><br />
    </td>
  </tr>
</table>

