

<% if signed_in? %>
<div class = "row">
	
</div>
  <table class="front" summary="For signed-in users">
    <tr>
        <h1 class="phonenumber">What's up?</h1>
        <%= render 'shared/phonenumber_form' %>
        <%= render 'shared/phonenumbers' %>
      </td>
	
    </tr>
  </table>

<% else %>

<h1>GroupText</h1>
<p>
  This is the home page for GroupText. Sign up or click Sign in to send texts.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>