<!DOCTYPE html>
<html>
<head>
	<!-- your preferred jquery -->
	    <script src="jquery.js"></script>
	    <!-- the jquery validator -->
	    <script src="validator.js"></script>
	    <!-- the twitter bootstrap -->
	    <link rel="stylesheet" href="bootstrap.css">
	    <!-- the javascript below -->
	    <script src="forms.js"></script>
  <title>Grouptext</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div class = "container">
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="brand" href="/">GroupText</a>
		      <ul class="nav">
		        <li class="active"><a href="/">Home</a></li>
		        <% if signed_in? %>
				<li><a href="/users/compose_message">Compose Message</a></li>
				<ul class="nav pull-right">
					<li><a href="/signout">Sign Out</a></li>
				</ul>	
				<%end%>
		      </ul>
				<% if !signed_in? %>
					<ul class="nav pull-right">
				      <li><a href="/signin">Sign In</a></li>
				    </ul>	
				<%end%>
		    </div>
		  </div>
		</div>
		
<%= yield %>

</div>

</body>
</html>
